body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 130px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 733px;
  border: 1px solid black;
  position: fixed;
}

.nav-buttons {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(123, 33, 33);
  cursor: pointer;
  border-radius: 20px;
}

.pizza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

.pizza .buy {
  display: flex;
  justify-content: space-around;
}

.pizza img {
  width: 100%;
}

section {
  margin-left: 200px;
  display: flex;
}

footer {
  background-color: gray;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.buy {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

div[class="buy"] button {
  background:none;
  border: none;
  cursor: pointer;
  padding: 0px 4px;
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 5px;
	margin: 0 5px 5px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	transition: box-shadow 0.2s;
}
