body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 130px;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 733px;
  border: 1px solid black;
  position: fixed;
}

.nav-buttons {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(123, 33, 33);
  cursor: pointer;
  border-radius: 20px;
}

.pizza {
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

.pizza .buy {
  display: flex;
  justify-content: space-around;
}

.pizza img {
  width: 100%;
}

section {
  margin-left: 200px;
  display: flex;
}


footer {
  background-color: gray;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}