* {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 130px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  border: none;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.logo-img {
  width: 110px;
  height: 110px;
}

button.number {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  border: solid 1px rgb(204, 29, 29);
  border-radius: 30px;
  font-style: normal;
}
/* 
input {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border-radius: 30px;
} */

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.search-input {
  width: 160px;
  padding: 10px;
  font-size: 20px;
  border-radius: 30px;
  margin: 5px;
}

.search-button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border: solid 1px rgb(204, 29, 29);
  border-radius: 30px;
  font-weight: bolder;
  margin: 5px;
}

.search-button-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.time {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.socials-button-instagram {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.socials-img-instagram {
  width: 30px;
  height: 30px;
}

.socials-button-youtube {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.socials-img-youtube {
  width: 20px;
  height: 20px;
}

.trash {
  width: 110px;
  height: 90px;
  border-radius: 20px;
  cursor: pointer;
}

.trash-img {
  width: 40px;
  height: 40px;
}
